# CHAPTER 2 - Variables, Expressions, and Statements

#### Exercise 1

Write a program that uses input to prompt a user for their name and then welcomes them.
```
Enter your name: Chuck
Hello Chuck
```

[PEW] E2.2

In [ ]:
name = str(input("Enter your name: "))
print("Welcome " + name)

Enter your name: john
Welcome john

#### Exercise 2

Write a program to prompt the user for hours and rate per hour to compute gross pay.
```
Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25
```

[PEW] E2.3

In [ ]:
hours = int(input("Enter Hours: "))
rate = float(input("Enter Rate: "))
print("Pay: " + str((hours) * rate))

Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25

#### Exercise 3

Assume that we execute the following assignment statements:
```python
width = 17
height = 12.0
```
For each of the following expressions, write the value of the expression and the type (of the value of the expression).
```python
width//2
width/2.0
height/3
1 + 2 * 5
```

[PEW] E2.4

In [ ]:
width = 17
height = 12.0

type1 = width//2  #8 <class 'int'>
type2 = width/2.0 #8.5 <class 'float'>
type3 = height/3  #4.0 <class 'float'>
type4 = 1 + 2 * 5 #11 <class 'int'>

print(f"# {type1} {type(type1)}")
print(f"# {type2} {type(type1)}")
print(f"# {type3} {type(type1)}")
print(f"# {type4} {type(type1)}")

# 8 <class 'int'>
# 8.5 <class 'int'>
# 4.0 <class 'int'>
# 11 <class 'int'>

#### Exercise 4

Write a program that uses input to prompt a user for a number and then outputs the square of the number
```
Enter a number: 3
The square of 3 is 9
```

In [ ]:
number = int(input("Enter a number: "))
print("The square of ", number," is ",number**2)

Enter a number: 3
The square of  3  is  9

## CHALLENGE

Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

[PEW] E2.5

In [ ]:
celsius = int(input("Enter temperature in celsius: "))
fahrenheit = ((celsius * 9) / 5) + 32
print("Celsius to Fahrenheit:", fahrenheit)

Enter temperature in celsius: 56
Celsius to Fahrenheit: 132.8